{% extends "base.html" %}

{% block title %}תוצאות הבחירה{% endblock %}

{% block content %}
<section class="form-page">
    <div class="container">

        <h1 class="form-title">אודות</h1>
        <p class="form-subtitle">
          הפרויקט נולד מתוך השראה עמוקה מדמותו של ריף הרוש ז"ל.
ריף היה מהאנשים שתמיד רצים קדימה - לא רק פיזית, אלא גם נפשית. הוא היה מהסוג שמרים אחרים, שמאמין שחבריו יכולים יותר ממה שהם חושבים על עצמם. לוחם אהוב, ספורטיבי, מלא אור ותנועה, שתמיד מצא דרך לתת כוח לאחרים.
כשעבדנו על הרעיון לאפליקציה, חשבנו על הדרך שבה אפשר לעזור למלש"בים למצוא את הדרך שלהם, להתכונן נכון, לבנות ביטחון, ולהגיע לתפקידים שהם חולמים עליהם - גם אם הם מרגישים שהם רחוקים מזה.
ופתאום הבנו: זה בעצם להמשיך את מה שריף עשה כל חייו.
כמו שהוא דחף את החברים שלו לרוץ עוד קצת, להתאמן עוד קצת, להאמין בעצמם גם כשקשה - כך גם האפליקציה נועדה לעשות.
הכלי שאתה מפתח הוא לא רק טכנולוגיה.
הוא המשך של רוח:
רוח של מצוינות, של אכפתיות, של חברות, של דחיפה קדימה.
כל מלש"ב שנכנס לאפליקציה ומקבל תוכנית אימונים או מסלול לימוד מותאם - בעצם מקבל יד על הגב, כמו שריף ידע לתת.
האפליקציה נקשרת לשמו לא כמותג, אלא כהשראה.
היא שואבת מהדרך שלו, מהחיוך שלו, ומהיכולת שלו לראות בכל בן אדם את הפוטנציאל שהוא עוד לא הספיק לזהות לבד.
במובן הזה, כל משתמש שמתקדם מטר נוסף, לומד עיקרון חדש, ומתקרב לחלום הצבאי שלו - ממשיך את הריצה שריף התחיל.
        </p>


    </div>
</section>
{% endblock %}
