{% extends "base.html" %}

{% block title %}בחירת תחום נוסף{% endblock %}

{% block content %}
<section class="form-page">
    <div class="container">

        <h1 class="form-title">בחר תחום לפי הקטגוריה שבחרת</h1>
        <p class="form-subtitle">
            בחר את התחום המתאים מתוך האפשרויות.
        </p>

        <form method="post">
            <div class="register-form">
                <div class="form-group full-width">
                    <label>
                        תחום <span class="required-star">*</span>
                    </label>

                    <div class="category-select">
                        {% for option in options %}
                        <label class="category-option" required>
                            <input type="radio" name="sub_category" value="{{ option }}" required>
                            <span class="text">{{ option }}</span>
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn primary-btn" style="margin-top: 1.4rem;">
                לשלב הבא
            </button>
        </form>

    </div>
</section>
{% endblock %}
